! Template for CSR1000v
hostname {{ hostname }}
!
{% for name, ifc in interfaces.items() %}
interface {{ name }}
 ip address {{ ifc.ip }}
 no shutdown
!
{% endfor %}
router ospf {{ ospf.process_id }}
{% for net in ospf.networks %}
 network {{ net }} area 0
{% endfor %}